<h1>Create Owner</h1>

<%= form_for @owner, :url => { :action => "save"} do |f| %>

<p class="form-label"><%= f.label "first_name" %></p>
<%= f.text_field ("first_name"), :class => "form-input" %>
<p class="form-label"><%= f.label "last_name" %></p>
<%= f.text_field ("last_name"), :class => "form-input" %>
<p class="form-label"><%= f.label "phone_num" %></p>
<%= f.text_field ("phone_num"), :class => "form-input" %>
<p class="form-label"><%= f.label "email" %></p>
<%= f.text_field ("email"), :class => "form-input" %>
<p class="form-label"><%= f.label "address" %></p>
<%= f.text_field ("address"), :class => "form-input" %>
<p class="form-label"><%= f.label "city" %></p>
<%= f.text_field ("city"), :class => "form-input" %>
<p class="form-label"><%= f.label "state" %></p>
<%= f.text_field ("state"), :class => "form-input" %>
<p class="form-label"><%= f.label "zip" %></p>
<%= f.text_field ("zip"), :class => "form-input" %>

<br><br>
<%= f.submit %>
<% end %>