<%= error_messages_for(@owner) %>

<h1>Edit Owner</h1>

<%= form_for @owner, :url => { :action => "update", :via => :put} do |f| %>
<p class="label-input"><%= f.label "first_name" %></p>
<%= f.text_field ("first_name"), :class => "form-input" %>
<p class="label-input"><%= f.label "last_name" %></p>
<%= f.text_field ("last_name"), :class => "form-input" %>
<p class="label-input"><%= f.label "phone_num" %></p>
<%= f.text_field ("phone_num"), :class => "form-input" %>
<p class="label-input"><%= f.label "email" %></p>
<%= f.text_field ("email"), :class => "form-input" %>
<p class="label-input"><%= f.label "address" %></p>
<%= f.text_field ("address"), :class => "form-input" %>
<p class="label-input"><%= f.label "city" %></p>
<%= f.text_field ("city"), :class => "form-input" %>
<p class="label-input"><%= f.label "state" %></p>
<%= f.text_field ("state"), :class => "form-input" %>
<p class="label-input"><%= f.label "zip" %></p>
<%= f.text_field ("zip"), :class => "form-input" %>
<br><br>
<%= f.submit %>
<% end %>