<div class="left padding-bottom">
  <p>Logged in: <%= link_to "#{session[:username]}", "http://localhost:3000/owners/#{session[:user_id]}" %></p>
</div><!-- end div containing login info and logout button -->

<div class="clear"></div>

<div class="info right">
<h1><%= @owner.first_name + " " +  @owner.last_name %></h1>

<p>Name: <%= @owner.first_name + " " + @owner.last_name %></p>
<p>Phone Number: <%= @owner.phone_num %></p>
<p>Address: <%= @owner.address %></p>
<p>City: <%= @owner.city %></p>
<p>State: <%= @owner.state %></p>
<p>Zip Code: <%= @owner.zip %></p>
</div><!-- end info right -->

<div class="side-bar left">
  <nav class="content">
    <ul>
      <li class="box-shadow"><a href="http://localhost:3000/menu">Menu</a></li>
      <li class="box-shadow"><%= link_to "Edit Profile", "/owners/#{params[:id]}/edit" %></li>
      <li class="box-shadow"><a href="/logout" >Logout</a></li>
      <li class="box-shadow"><a href="http://localhost:3000/dogs/new">Add Dog</a></li>
      <% @dogs.each do |dog| %>
        <li class="box-shadow"><%=link_to "View #{dog.name}", "http://localhost:3000/dogs/#{dog.id}" %></li>
      <% end %>
    </ul>
  </nav>
  <br><br>
</div><!--end side-bar left -->
  
