<h1><%= @owner.first_name + " " +  @owner.last_name %></h1>

<p>Name: <%= @owner.first_name + " " + @owner.last_name %></p>
<p>Phone Number: <%= @owner.phone_num %></p>
<p>Address: <%= @owner.address %></p>
<p>City: <%= @owner.city %></p>
<p>State: <%= @owner.state %></p>
<p>Zip Code: <%= @owner.zip %></p>

<ul>
  <li><a href="/findo">Home</a></li>
  <li><%= link_to "Edit", "/owners/#{params[:id]}/edit" %></li>
  <li><a href="http://localhost:3000/dogs/new">Add Dog</a></li>
  <p>The link above will need to be edited when deployed</p>
</ul>

<p>Will be adding links to view all pets</p>

<ul>
  <% @dogs.each do |dog| %>
    <li><%=link_to dog.name, "http://localhost:3000/dogs/#{dog.id}" %></li>
  <% end %>
</ul>  