<%= error_messages_for(@dog) %>

<h1>Edit <%= @dog.name %></h1>

<%= form_for @dog, :url => { :action => "update", :via => :put} do |f| %>
<p class="form-label"><%= f.label "name" %></p>
<%= f.text_field ("name"), :class => "form-input" %>
<p class="form-label"><%= f.label "breed" %></p>
<%= f.text_field ("breed"), :class => "form-input" %>
<p class="form-label"><%= f.label "age" %></p>
<%= f.text_field ("age"), :class => "form-input" %>
<p class="form-label"><%= f.label "gender" %></p>
<p class="radio"><%= f.radio_button("gender", 'Male') %> Male</p>
<p class="radio"><%= f.radio_button("gender", 'Female') %> Female</p>
<p class="form-label"><%= f.label "colour" %></p>
<%= f.text_field ("colour"), :class => "form-input" %>
<p class="form-label"><%= f.label "serial_num" %></p>
<%= f.text_field ("serial_num"), :class => "form-input" %>
<p class="form-label"><%= f.label "description" %></p>
<%= f.text_area ("description"), :class => "form-input" %>
<p class="form-label"><%= f.label "temperament_id" %></p>
<%= f.select "temperament_id", temperament_list %>
<br><br>
<%= f.submit %>
<% end %>