<h1><%= @dog.name %></h1>

<p>Name: <%= @dog.name %></p>
<p>Breed: <%= @dog.breed %></p>
<p>Age: <%= @dog.age %></p>
<p>Gender: <%= @dog.gender %></p>
<p>State: <%= @dog.colour %></p>
<p>Description: <%= @dog.description %></p>
<p>Serial Number: <%= @dog.serial_num %></p>


<ul>
  <li><a href="/findo">Home</a></li>
</ul>

<p>Will be adding links to view all pets</p>