<div class="left small-half">
  <h2 class="text-colour"><%= @dog.name %></h2>

  <p>Breed: <%= @dog.breed %></p>
  <p>Age: <%= @dog.age %></p>
  <p>Gender: <%= @dog.gender %></p>
  <p>Colour: <%= @dog.colour %></p>
  <p>Temperament: <%= @dog.temperament.temperament %>
  <p>Description: <%= @dog.description %></p>
  <br><br>
</div><!-- end left -->

<div class="right big-half">
  <h2 class="text-colour">Owner: <%= @dog.owner.first_name + " " + @dog.owner.last_name %></h2>
  <p>Phone Number: <%= @dog.owner.phone_num %></p>
  <p>Email: <%= @dog.owner.email %></p>

  <form action="#">
    <p>Owner's Email</p>
    <input name="email" placeholder="example@gmail.com">
    <p>Content</p>
    <input type="text_area" name="body">
    <!-- This needs to be text_area -->
    <br><br>
    <input type="submit">
  </form>
</div><!-- end right -->